<div class="panel panel-default">
  <div class="panel-heading"><H1>Se connecter</H1></div> <br> <br>
  <div class="panel-body">
    <%= form_for :utilisateur, url: sessions_path, html: {class: 'form-horizontal'} do |f| %>
      <div class="form-group">
        <%= f.label :username, "Nom d'utilisateur ou email", class: 'col-md-4 control label' %>
          <div class="col-md-6">
            <%= f.text_field :username, class: 'form-control' %>
          </div>
      </div>



      <div class="form-group">
        <%= f.label :password, "Mot de passe", class: 'col-md-4 control label' %>
          <div class="col-md-6">
            <%= f.password_field :password, class: 'form-control' %>
          </div>
      </div>

      <div class="form-group">
          <div class="col-md-offset-4 col-md-6">
            <button type="submit" class="btn btn-primary">
              Se connecter
            </button>
          </div>
        </div>

    <% end %>
  </div>
</div>