<h1>View formulaire</h1>

<%= form_tag url_for(action: 'create'), method: "post" do %>

      <%= label_tag 'Title' %>
      <%= text_field_tag 'title', @gossip.title %>
      <br /> <br />

      <%= label_tag 'Content' %>
      <%= text_area_tag 'content', @gossip.content %>
      <br /> <br />

      <%= submit_tag "Create Post" %>

<% if @gossip.errors.any? %>
              <%@gossip.errors.full_messages.each do |message| %>
                <%if message == "Title can't be blank" %>
                  <div class="container alert alert-danger d-flex align-items-center p-1 mt-1" roler="alert"><%= message %></div>
                <% end %>
              <% end %>
            <% end %>

            <% if @gossip.errors.any? %>
              <%@gossip.errors.full_messages.each do |message| %>
                <%if message == "Title is too short (minimum is 3 characters)" %>
                  <div class="container alert alert-danger d-flex align-items-center p-1 mt-1" roler="alert"><%= message %></div>
                <% end %>
              <% end %>
            <% end %>

            <% if @gossip.errors.any? %>
              <%@gossip.errors.full_messages.each do |message| %>
                <%if message == "Title is too long (maximum is 14 characters)" %>
                  <div class="container alert alert-danger d-flex align-items-center p-1 mt-1" roler="alert"><%= message %></div>
                <% end %>
              <% end %>
            <% end %>

            

    <% end %>
